
body{
    background-color: blanchedalmond;
    
}

.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.section{
    padding: 25px;
    text-align: center;
}

.header {
    background: antiquewhite;
}

.sidebar {
    grid-row: 1 / 3;
    background: aqua;

}

.main_content {
    background: grey;
}